h2 {
    margin-top: 5rem;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
    border-bottom-style: solid;
    border-radius: 5px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

main {
    margin-bottom: 5rem;
}

.error-heading {
    font-size: 2rem;
    border-style: none;
}
