@font-face {
    font-family: "Jersey 10";
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/jersey10/v3/GftH7vZKsggXMf9n_J5n_5jh.woff2)
        format("woff2");
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
        U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191,
        U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* Header & Footer */

header {
    background-color: #35127c;
    color: white;
    text-align: center;
    width: 100%;
    margin: 0px;
    padding-top: rem;
    padding-bottom: 0.2rem;
    position: fixed;
    top: 0;
}

.site-name {
    font-family: "Jersey 10";
    font-weight: 400;
    font-size: 3.5rem;
    color: white;
    margin: 0px;
}

footer {
    display: flex;
    justify-content: center;
    background-color: #35127c;
    width: 100%;
    position: fixed;
    bottom: 0;
    text-align: center;
    height: 4rem;
}

.footer-icon {
    height: 3.5rem;
    margin-top: 0.25rem;
    margin-left: 1.2rem;
    margin-right: 1.2rem;
}
/* Basic Cards */

.basic-card {
    width: 80%;
    border: #35127c;
    border-width: 4px;
    border-radius: 10px;
    border-style: solid;
    padding: 0px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}

.bc-image {
}

.bc-main-text {
    padding: 0%;
    margin: 0%;
    margin-left: 5rem;
    margin-top: 0.3rem;
    font-size: 1rem;
    font-weight: 600;
    margin-right: 0.2rem;
}

.bc-secondary-text {
    padding: 0%;
    margin: 0%;
    margin-left: 5rem;
    margin-top: 0.3rem;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 0.3rem;
}

.bc-tertiary-text {
}

/* Buttons */

button {
    background-color: #35127c;
    color: white;
    border-style: none;
    border-radius: 2rem;
    font-size: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
    padding: 0.3rem;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
    align-self: left;
}

.page-buttons-section {
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.article-buttons-section {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
}

.delete-comment-button {
    background-color: #d1ccda;
    font-style: italic;
    color: #35127c;
    font-size: 0.8rem;
    margin-left: 5rem;
    padding: 0px;
    padding-bottom: 0.3rem;
}
/* Likes & Dislikes */

.vote-button-false {
    width: 22%;
}

.vote-button-true {
    width: 22%;
    background-color: #d1ccda;
}

.vote-counts {
    font-size: 1.5rem;

    width: 10%;
    margin: 0px;
    text-align: center;
}

/* Comments */
.comment-title {
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.comment-card {
    background-color: #d1ccda;
    border-style: none;
    width: 80%;
    border-radius: 10px;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}

.comments-section {
    margin-bottom: 6rem;
}

/* Posting Comments */

.post-comment {
    margin-top: 2rem;
    width: 80%;
    padding-top: 0.5rem;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    background-color: #35127c;
    text-align: center;
    border-style: solid;
    border-color: #35127c;
    border-width: 1px;
}

.post-comment-label {
    color: white;
    margin: 0px;
    margin-left: 1rem;
    text-align: left;
    margin-bottom: 0.5rem;
}

.comment-input {
    font-size: 1rem;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    height: 5rem;
    width: 90%;
    border: none;
    overflow: hidden;
    background-color: #f2eff6;
}

.comment-submission {
    text-align: center;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.submit-comment-button {
    width: 90%;
    background-color: #35127c;
    color: white;
    border-style: none;
    height: 2rem;
    padding: 0px;
    font-size: 1.2rem;
    text-align: right;
    margin-bottom: 0.2rem;
    font-weight: 800;
}

#accepted {
    background-color: #d1ccda;
}

#rejected {
    background-color: rgb(243, 160, 160);
}

#pending {
    background-color: rgb(226, 226, 140);
}

/* Topics */

.topic-card {
    width: 80%;
    background-color: #d1ccda;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 1rem;
    height: 9.5rem;
    margin-bottom: 1rem;
    border-radius: 10px;
}

.topic-slug {
    font-size: 2.3rem;
    font-weight: 700;
    margin-bottom: 0px;
}

.topic-description {
    margin-top: 0px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    font-style: italic;
}

/* Loading Text */

.loading-text {
    margin-top: 2rem;
    font-size: 2rem;
    text-align: center;
}

/* Error Text */

.error {
    background-color: rgb(212, 77, 77);
    width: 80%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
